@model nextinvesting.Models.Investment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestmentMultiple)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestmentMultiple)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maturity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maturity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinInvestment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinInvestment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
